<!DOCTYPE html>
<html>
<head>
    <title>Proto</title>
    <link type="text/css" rel="stylesheet" href="style/main.css">
    <link rel="icon" type="image/png" href="/favicon-default.png">
</head>
<body>

<div class="container" ng-controller="mainController">


    <button ng-click="mainController.test()">Test</button>

</div>

<script data-main="script/requirejs-config" src="components/requirejs/require.js"></script>


</body>
</html>