/**! normalize.css v2.1.1 | MIT License | git.io/normalize
// HTML5 display definitions
// Correct `block` display not defined in IE 8/9.
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
  display: block
// Correct `inline-block` display not defined in IE 8/9.
audio, canvas, video
  display: inline-block
audio:not([controls])
  // Prevent modern browsers from displaying `audio` without controls.
  display: none
  // Remove excess height in iOS 5 devices.
  height: 0
// Address styling not present in IE 8/9.
[hidden]
  display: none
// Base
html
  // Prevent system color scheme's background color being used in Firefox, IE, and Opera.
  background: #fff
  // Prevent system color scheme's text color being used in Firefox, IE, and Opera.
  color: #000
  // Set default font family to sans-serif.
  font-family: sans-serif
  // Prevent iOS text size adjust after orientation change, without disabling user zoom.
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
// Remove default margin.
body
  margin: 0
// Links
a
  // Address `outline` inconsistency between Chrome and other browsers.
  &:focus
    outline: thin dotted
  // Improve readability when focused and also mouse hovered in all browsers.
  &:active, &:hover
    outline: 0
// Typography
// Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari 5, and Chrome.
h1
  font-size: 2em
  margin: 0.67em 0
// Address styling not present in IE 8/9, Safari 5, and Chrome.
abbr[title]
  border-bottom: 1px dotted
// Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
b, strong
  font-weight: bold
// Address styling not present in Safari 5 and Chrome.
dfn
  font-style: italic
// Address differences between Firefox and other browsers.
hr
  -moz-box-sizing: content-box
  box-sizing: content-box
  height: 0
// Address styling not present in IE 8/9.
mark
  background: #ff0
  color: #000
// Correct font family set oddly in Safari 5 and Chrome.
code, kbd, pre, samp
  font-family: monospace, serif
  font-size: 1em
// Improve readability of pre-formatted text in all browsers.
pre
  white-space: pre-wrap
// Set consistent quote types.
q
  quotes: '\201C' '\201D' '\2018' '\2019'
// Address inconsistent and variable font size in all browsers.
small
  font-size: 80%
// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline
sup
  top: -0.5em
sub
  bottom: -0.25em
// Embedded content
// Remove border when inside `a` element in IE 8/9.
img
  border: 0
// Correct overflow displayed oddly in IE 9.
svg:not(:root)
  overflow: hidden
// Figures
// Address margin not present in IE 8/9 and Safari 5.
figure
  margin: 0
// Forms
// Define consistent border, margin, and padding.
fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em
legend
  // Correct `color` not being inherited in IE 8/9.
  border: 0
  // Remove padding so people aren't caught out if they zero out fieldsets.
  padding: 0
button, input, select, textarea
  // Correct font family not being inherited in all browsers.
  font-family: inherit
  // Correct font size not being inherited in all browsers.
  font-size: 100%
  // Address margins set differently in Firefox 4+, Safari 5, and Chrome.
  margin: 0
// Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet.
button, input
  line-height: normal
// Address inconsistent `text-transform` inheritance for `button` and `select`.
// All other form control elements do not inherit `text-transform` values.
// Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
// Correct `select` style inheritance in Firefox 4+ and Opera.
button, select
  text-transform: none
button, html input[type='button'], input[type='reset'], input[type='submit']
  // Avoid the WebKit bug in Android 4.0.* where `html input[type='button'] { -webkit-appearance: button }` destroys native `audio` and `video` controls.
  // Correct inability to style clickable `input` types in iOS.
  -webkit-appearance: button
  // Improve usability and consistency of cursor style between image-type `input` and others.
  cursor: pointer
// Re-set default cursor for disabled elements.
button[disabled], html input[disabled]
  cursor: default
input
  &[type='checkbox'], &[type='radio']
    // Address box sizing set to `content-box` in IE 8/9.
    box-sizing: border-box
    // Remove excess padding in IE 8/9.
    padding: 0
  &[type='search']
    // Address `appearance` set to `searchfield` in Safari 5 and Chrome.
    -webkit-appearance: textfield
    // Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof).
    -moz-box-sizing: content-box
    -webkit-box-sizing: content-box
    box-sizing: content-box
    // Remove inner padding and search cancel button in Safari 5 and Chrome on OS X.
    &::-webkit-search-cancel-button, &::-webkit-search-decoration
      -webkit-appearance: none
// Remove inner padding and border in Firefox 4+.
button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0
textarea
  // Remove default vertical scrollbar in IE 8/9.
  overflow: auto
  // Improve readability and alignment in all browsers.
  vertical-align: top
// Tables
// Remove most spacing between table cells.
table
  border-collapse: collapse
  border-spacing: 0